.product-increment-card {
  width: 100%;
  position: relative;
  background: #FFFFFF;
  border: 3px solid #F4F4F4;
  border-radius: 20px;
  display: block;

  &--unavailable {
    opacity: .5;

    .incrementer {
      pointer-events: none;
    }
  }

  //&__link {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  border-radius: 20px;
  //}

  &__remove {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 9px;
    height: 9px;
    z-index: 1;

    &:after, &:before {
      content: '';
      width: (9px * 1.278);
      height: 1px;
      background: $gray-8;
      border-radius: 10px;
      position: absolute;
      left: 0;
    }

    &:after {
      transform: rotate(45deg);
      transform-origin: top left;
      top: 0;
    }

    &:before {
      transform: rotate(-45deg);
      transform-origin: bottom left;
      bottom: 0;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
  }

  &__part {
    &:first-child {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    min-width: 90px;
    width: 90px;
    height: 90px;
    margin-right: 38px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    margin-right: 10px;
  }

  &__price {
    margin-right: 12px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: $dark;

    &-wrapper {
      display: flex;
      margin-bottom: 10px;
      align-items: flex-end;
    }

    &-strike-through {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-decoration: line-through;
      color: $red;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $dark;
    display: block;
    word-break: break-word;
  }

  &__info {
    display: flex;

    &-item {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $gray-9;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .incrementer {
    &__cell {
      width: 34px;
      height: 34px;
      font-size: 14px;
      line-height: 1;
    }

    &__minus, &__plus {
      &:after {
        width: 8px;
      }
    }

    &__plus {
      &:before {
        height: 8px;
      }
    }
  }
}
