.catalog-order-filter {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 16px;
  margin-bottom: 16px;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    transition: color .2s ease;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    svg {
      margin-left: 6px;
      transition: transform .2s ease;

      path {
        stroke: $dark;
        transition: stroke .2s ease;
      }
    }

    &.active {
      color: $green;

      svg {
        path {
          stroke: $green;
        }
      }
    }

    &.up {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__left {
    color: $gray-13;
    margin-right: 50px;
  }

  &__right {
    display: flex;
    color: $dark;
  }
}

@media (max-width: 900px) {
  .catalog-order-filter {
    &__left {
      display: none;
    }

    &__item {
      margin-right: 20px;
    }
  }
}
