$gray: #909090;
$yellow: #F7CF47;
$dark-gray: #ECECEC;
$advantage-color: #F1F1F1;
$menu-color: #F0F0F0;
$light-gray: #F9F9F9;
$main-color: #FFFFFF;
$footer-color: #333333;
$placeholder-color: #a9a9a9;
$dark: #010101;
$dark-2: #484848;
$dark-3: #3C3C3C;
$green: #67CC8C;
$red: #DC776D;
$light-red: #FFD5D1;
$gray-1: #DFDFDF;
$gray-2: #F9F9F9;
$gray-3: #F0F0F0;
$gray-4: #F4F4F4;
$gray-5: #9B9B9B;
$gray-6: #FAFAFA;
$gray-7: #B0B0B0;
$gray-8: #BABABA;
$gray-9: #C1C1C1;
$gray-10: #D5D5D5;
$gray-11: #7C7C7C;
$gray-12: #E7E7E7;
$gray-13: #CBCBCB;
$gray-14: #EBEBEB;
