.custom-input-h {
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color .2s ease, background .2s ease, box-shadow .2s ease;

  &__input {
    width: 100%;
  }

  input {
    width: 100%;
    background: transparent;
  }

  &--focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.25);
    border: 1px solid #80BDFF;
  }
}

@media (max-width: 600px) {
  .custom-input-h {
    border: none;
  }
}
