.index-ceo {
  margin-bottom: 89px;
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  &__subtitle {
    display: block;
    font-weight: bold;
    margin: 55px 0;
  }
  &__text {
    @include Inter(16px,180%,normal,normal,$dark);
  }
  &__btn.g-accordion__btn {
    @include Inter(16px,180%,normal,normal,$green);
    margin-top: 0;
    background: #fff;

    svg {
      margin-bottom: 2px;
    }

    &.floating {
      position: absolute;
      bottom: 0;
      right: 0;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 100%);
      }
    }
  }
}

@media (max-width: 600px) {
  .index-ceo {
    margin-bottom: 70px;

    &__text, &__btn.g-accordion__btn {
      font-size: 13px;
      line-height: 180%;
    }

    &__title {
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    .g-accordion {
      &--cut {
        .g-accordion {
          &__content {
            &:after {
              height: 16px;
            }
          }
        }
      }
    }

    &__btn.g-accordion__btn {
      &.floating {
        bottom: -2px;
      }
    }
  }
}
