.g-product {
  &__price {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: $dark;
    margin-right: 24px;
    white-space: nowrap;

    &-stroke-through {
      color: $red;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-decoration: line-through;
      margin-right: 10px;
      padding-top: 16px;
      white-space: nowrap;
    }

    &-row {
      display: flex;
      position: relative;
      z-index: 12;
      margin-bottom: 30px;
    }

    &-wrapper {
      display: flex;
      position: relative;
    }
  }

  &__btn-row {
    display: flex;
    margin-bottom: 17px;
  }

  &__btn {
    min-width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;

    svg {
      width: 24px;
      height: 24px;
    }

    span {
      display: block;
      margin-left: 11px;
    }
  }

  &__info {
    &-icon {
      width: 18px;
      height: 18px;
      border: 2px solid $gray-8;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      &:after, &:before {
        content: '';
        position: absolute;
        width: 2px;
        border-radius: 50px;
        left: 50%;
        transform: translateX(-50%);
        background: $gray-8;
      }

      &:after {
        top: 3px;
        height: 2px;
      }

      &:before {
        bottom: 2px;
        height: 5.5px;
      }
    }

    &-wrapper {
      margin-top: auto;
      margin-right: 20px;
      margin-bottom: 10px;
      height: fit-content;

      &.g-popover--active {
        .g-product__info-icon {
          border-color: $green;

          &:after, &:before {
            background: $green;
          }
        }
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &--success {
        color: $green;
      }
    }
  }

  &__buy-error-popover {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  &__variants {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    width: calc(100% + 10px);

    &-wrapper {
      margin-bottom: 35px;
    }

    &-item {
      margin: 5px;
      border: 3px solid #DFDFDF;
      border-radius: 6px;
      padding: 13px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #A7A7A7;
      transition: color .2s ease, border-color .2s ease;

      @mixin variant-active {
        color: $dark;
        border-color: $dark;
      }

      &--active {
        @include variant-active;
      }

      &--error {
        border-color: $light-red;
      }

      @media (hover: hover) {
        &:hover {
          @include variant-active;
          cursor: pointer;
        }
      }
    }
  }

  &__stock {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $dark;
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &-color {
      width: 17px;
      height: 17px;
      background: $gray-1;
      border-radius: 50%;
      margin-right: 10px;

      &--in-stock {
        background: $green;
      }

      &--not-in-stock {
        background: $red;
      }
    }
  }

  &__buy, &__buy-now {
    padding: 0 30px;
  }

  &__buy {
    background: $green;
    margin-right: 10px;
  }

  &__buy-now {
    background: $dark;
    margin-right: 10px;
  }

  &__like {
    background: $gray-1;
    transition: background-color .2s ease;

    svg {
      path {
        transition: fill .2s ease;
      }
    }

    @mixin liked {
      background: $red;

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &.active {
      @include liked;
    }

    @media (hover: hover) {
      &:hover {
        background: $red;
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: $dark;

    &-badge {
      padding: 4px 13px;
      border-radius: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 10px;
      display: inline-block;
      transform: translateY(-3px);

      &--discount {
        background: $yellow;
      }

      &--hit {
        background: $green;
      }
    }
  }

  &__content {
    margin-top: 40px;
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    &-block {
      &--left {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      &--right {
        grid-column-start: 2;
        grid-column-end: 3;
      }

      &--stretch {
        grid-row-start: 1;
        grid-row-end: none;
      }
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $dark;

    &-wrapper {
      margin-top: 40px;
      margin-bottom: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tt-icon {
        width: 30px;
        height: auto;
        margin-right: 12px;
      }

      button {
        width: 22px;
        height: 22px;
        margin-right: 1px;

        svg {
          width: 100%;
          height: 100%;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__square-info {
    display: flex;
    margin-top: 40px;

    &-item {
      width: 180px;
      margin-right: 10px;
      padding: 10px;
      border-radius: 8px;
      background: $gray-2;
      border: 1px solid $gray-14;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 11px;
      line-height: 120%;

      &:last-child {
        margin-right: 0;
      }

      svg {
        min-width: 32px;
        width: 32px;
        height: auto;
        margin-right: 10px;
      }

      span {
        max-width: 80px;
      }
    }
  }

  &__bottom-info {
    display: flex;
    max-width: 380px;
    width: 100%;
    margin-top: 32px;

    &-item {
      width: 100%;
      display: block;
      font-weight: 500;
      font-size: 11px;
      line-height: 120%;

      svg {
        width: 32px;
        height: 40px;
      }

      span {
        display: block;
        max-width: 70px;
      }
    }
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    color: $dark;
  }

  &__subsubtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $dark;
    margin-bottom: 20px;
  }
}

@media (max-width: 1220px) {
  .g-product {
    .product-slider {
      flex-direction: column-reverse;

      &__pagination {
        display: block;
        bottom: 30px !important;
        margin-top: 0;
      }

      &__left {
        width: 100%;
        height: 96px;
        top: unset;
        bottom: 0;

        .swiper-slide {
          width: 96px;
        }
      }

      &__right {
        padding-left: 0;
        padding-bottom: 112px;
      }
    }

    &__info {
      &-wrapper {
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .g-product {
    &__subtitle {
      margin-top: 0;
    }

    &__infos {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__bottom-info {
      margin-left: 20px;
    }

    &__info {
      margin-left: 30px;
    }

    &__content {
      grid-template-columns: minmax(0, 1fr);
      width: 100%;

      &-block {
        &--right {
          grid-column-start: 1;
          grid-column-end: 2;
        }

        &--1 {
          grid-row-start: 1;
        }

        &--2 {
          grid-row-start: 2;
          grid-row-end: 3;
          margin-bottom: 40px;
        }
      }
    }

    &__variants {
      &-item {
        white-space: nowrap;
      }
    }

    &__variants, .g-colors {
      flex-wrap: nowrap;
    }

    .product-slider {
      margin-bottom: 40px;

      &__left {
        display: block;

        .swiper-container {
          overflow: visible;
        }
      }

      &__right {
        &-slider {
          &-wrapper {
            padding-bottom: 0;
            height: 500px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .g-product {
    &__infos {
      display: block;
    }

    &__bottom-info {
      margin-left: 0;

      &-item {
        text-align: center;

        span {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 600px) and (min-width: 360px) {
  .g-product {
    &__info {
      &-wrapper {
        .g-popover {
          &__content {
            left: unset;
            right: -15px;
            transform: translate(0, 100%) scale(0);

            &:before {
              left: unset;
              right: 12px;
            }
          }
        }

        &.g-popover--active {
          .g-popover {
            &__content {
              transform: translate(0, 100%) scale(1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .g-product {
    &__price {
      &-wrapper {
        margin-right: auto;
      }
    }

    &__title {
      font-size: 16px;
      line-height: 19px;

      &-text {
        display: block;
        margin-bottom: 13px;
      }

      &-badge {
        display: inline-block;
        margin-left: 0;
        font-size: 10px;
        line-height: 12px;
        padding: 5px;
      }
    }

    &__content {
      position: relative;
    }

    &__price {
      margin-right: 15px;
      margin-bottom: -4px;

      &-stroke-through {
        margin-right: 10px;
      }

      &-wrapper {
        align-items: flex-end;
        flex-wrap: wrap;
      }

      &-row {
        align-items: flex-end;
        flex-wrap: wrap;

        .incrementer {
          margin-top: 10px;
        }
      }
    }

    &__subsubtitle {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 15px;
    }

    &__btn {
      width: 100%;
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      svg {
        width: 18px;
        height: 18px;
      }

      span {
        margin-left: 9px;
      }

      &-row {
        display: block;
        margin-bottom: 10px;
      }

      &-wrapper {
        display: block;
      }
    }

    &__like {
      position: absolute;
      top: 32px;
      right: 32px;
      background: none;
      padding: 0;
      width: 21px;
      height: 21px;
      min-width: unset;
      z-index: 5;

      svg {
        width: 100%;
        height: 100%;

        path {
          stroke: $dark;
          transition: stroke .2s ease, fill .2s ease;
        }
      }

      @media (hover: hover) {
        &:hover {
          background: none;
        }
      }

      &.active {
        background: none;

        svg {
          path {
            stroke: $red;
            fill: $red;
          }
        }
      }
    }

    &__subtitle {
      font-size: 16px;
      line-height: 19px;

      &-wrapper {
        margin-bottom: 15px;
      }
    }

    &__description {
      font-size: 12px;
      line-height: 180%;
    }

    .parameters {
      &__item {
        display: block;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 140%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__value {
        width: 100%;
      }

      &__key {
        max-width: 100%;
        font-weight: 600;

        &:after {
          display: none;
        }
      }
    }

    .product-slider {
      width: 100%;

      &__right {
        padding-bottom: 0;

        .swiper-container {
          padding: 50px;
        }

        &-slider {
          &-wrapper {
            height: unset;
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .g-product {
    &__price {
      width: 100%;
    }
  }
}
