@import "../includes/mixins";
.main {
  &-title {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    margin-top: 59px;
  }
  &-page {
    margin-top: 24px;
  }
}
.hero__small {
  height: 210px;
  .hero {
    &__slide {
      height: 210px;
      background-image: url('~/static/images/hero/small__slide1.png');
    }
    &__text {
      font-size: 24px;
      line-height: 29px;
      max-width: 155px;
    }
    &__wrapper {
      padding-left: 50px;
    }
  }
  .btn {
    max-width: 135px;
    height: 37px;
    span {
      @include Inter(12px,15px,normal,600,$dark);
      margin-left: 10px;
    }
  }
}

@media (max-width: 900px) {
  .main {
    &-page {
      margin-top: 34px;
    }
  }
}

@media (max-width: 600px) {
  .main {
    &-page {
      margin-top: 0;
    }
  }
}
