.g-range-input {
  &__inputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &-separator {
      margin: 0 5px;
      min-width: 7px;
      max-width: 7px;
      height: 1px;
      border-radius: 50px;
      background: #000;
    }
  }
}
